.navbar-container {
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: calc(80px - 20px, 0px);
    width: 100%;
    z-index: 9;
    height: 98px;
    contain: size style layout;
}

.filter-button {
    height: 50px;
    width: 90px;
    border: 1px solid #dddddd;
    border-radius: 12px;
    background-color: white;
    font-family: "Figtree";
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.filter-button-container {
    width: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.slider-container-container {
    width: 90%;
    min-width: 80%;
}

* {
    min-height: 0;
    min-width: 0;
}

.navbar-icon img {
    height: 24px;
    width: 24px;
    color: #717171;
    opacity: 0.6425339366515838;
}

.navbar-icon-underline {
    height: 2px;
    width: 95%;
    background-color: #717171;
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateY(15px);
}

.navbar-icon:hover img,
.navbar-icon:hover {
    cursor: pointer;
    color: black;
    opacity: 1;
}
.navbar-icon:hover .navbar-icon-underline {
    opacity: 0.6425339366515838;
}

.navbar-title {
    font-size: 12px;
    /* width: 100px; */
    margin-top: 15px;
    white-space: nowrap;
    /* margin-right: 20px; */
    justify-content: center;
    align-content: center;
    display: flex;
}

.navbar-title-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.navbar-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* margin-right: 40px; */
    color: #717171;
    height: 100px;
}

/* .slick-list {
    margin: 0 -5px;
}

.slick-slide>div {
    padding: 0 40px;
}  */

.slick-track div {
    margin: 0 4px;
}
/* .slick-slide {
    margin: 0 20px;
} */

.slider-container {
    /* margin-right: 20px; */
    flex-wrap: nowrap;
}

.navbar-arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 28px;
    width: 28px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transform: translateY(-30px);
}

.navbar-arrow-wrapper-right {
    margin: 0 20px 0 20px;
}

.navbar-arrow-wrapper:hover {
    transform: scale(1.04) translateY(-29px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.slick-arrow {
    transition: all 0.2s ease;
}

.slick-arrow.slick-disabled {
    opacity: 0;
}
