.navbar-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}




.filter-button {
    height: 50px;
    width: 90px;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    background-color: white;
    font-family: 'Figtree';
    font-weight: bold;
    font-size: 12px;
}
.filter-button-container {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container-container {
    width: 85%;
    min-width: 85%;
}

* {
    min-height: 0;
    min-width: 0;
}

.navbar-icon img {
    height: 24px;
    width: 24px;
    color: #717171;
    opacity: 0.6425339366515838;
}

.navbar-icon-underline {
    height: 2px;
    width: 95%;
    background-color: #717171;
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateY(15px)
}

.navbar-icon:hover img,
.navbar-icon:hover  {
    cursor: pointer;
    color: black;
    opacity: 1;
}
.navbar-icon:hover .navbar-icon-underline {
    opacity: 0.6425339366515838;
}

.navbar-title {
    font-size: 12px;
    /* width: 100px; */
    margin-top: 15px;
    white-space: nowrap;
        /* margin-right: 20px; */
        justify-content: center;
        align-content: center;
        display: flex;
        font-weight: bold;
}

.navbar-title-container {
    display: flex;
        justify-content: center;
            align-content: center;
}
.navbar-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* margin-right: 40px; */
                color: #717171;
                height: 100px;
}

/* .slick-list {
    margin: 0 -5px;
}

.slick-slide>div {
    padding: 0 40px;
}  */

.slick-track div {
    margin: 0 4px;
}
/* .slick-slide {
    margin: 0 20px;
} */

.slider-container {
    /* margin-right: 20px; */
    flex-wrap: nowrap;
}

.arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    border: 0.5px solid rgb(0 0 0 / 0.3);
    border-radius: 50%;
    transform: translateY(-35px)
}

.arrow-wrapper:hover {
    transform: scale(1.04) translateY(-34px);
}

.slick-arrow {
    transition: all 0.2s ease;
}

.slick-arrow.slick-disabled {
    opacity: 0;
}