@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap");

.App {
    /* text-align: center; */
    max-width: 100vw;
    margin: auto;
    font-family: "Figtree", sans-serif;
    padding: 80px;
    padding-top: 0;
}

.body {
    display: flex;
    width: 90vw;
    height: 100%;
}
